name: PHPStan

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

# Is it overkill to run PHPStan using different PHP versions? Probably :)
jobs:
  phpstan:
    name: "PHPStan Static Analysis  (PHP ${{ matrix.php-version }}, ${{ matrix.operating-system }})"
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        php-version:
          - "8.2"
          - "8.3"
          - "8.4"
        operating-system:
          - "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - name: "Install PHP ${{ matrix.php-version }}"
        uses: shivammathur/setup-php@master
        with:
           php-version: "${{ matrix.php-version }}"

      - name: "Validate composer.json and composer.lock"
        run: composer validate --strict

      - name: "Setup Composer, install dependencies"
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--prefer-dist --optimize-autoloader"
          require-lock-file: "false"
          dependency-versions: "highest"

      - name: "Run PHPStan"
        run: composer run-script phpstan
