name: Mutation Test

on:
  workflow_dispatch:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  mutation-test:
    name: "Infection/Mutation Test (PHP ${{ matrix.php-version }}, ${{ matrix.operating-system }})"
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        php-version:
          - "8.2"
          - "8.3"
          - "8.4"
          - "8.5"
        operating-system:
          - "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - name: "Install PHP ${{ matrix.php-version }}"
        uses: shivammathur/setup-php@master
        with:
           php-version: "${{ matrix.php-version }}"
           coverage: xdebug

      - name: "Validate composer.json and composer.lock"
        run: composer validate --strict

      - name: "Setup Composer, install dependencies"
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--prefer-dist --optimize-autoloader"
          require-lock-file: "false"
          dependency-versions: "highest"

      - name: "Run Infection"
        if: github.event_name != 'pull_request'
        run: composer run-script infection
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}

      - name: "Run Infection, Pull Request"
        if: github.event_name == 'pull_request'
        run: |
          git fetch origin $GITHUB_BASE_REF
          php vendor/bin/infection --threads=max --git-diff-lines --git-diff-base=origin/$GITHUB_BASE_REF --configuration=infection.json5 --min-msi=100 --min-covered-msi=100
        env:
          STRYKER_DASHBOARD_API_KEY: ${{ secrets.STRYKER_DASHBOARD_API_KEY }}
