name: Tests

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"

jobs:
  test:
    name: "Run Unit Tests (PHP ${{ matrix.php-version }}, ${{ matrix.operating-system }})"
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        php-version:
          - "8.2"
          - "8.3"
          - "8.4"
        operating-system:
          - "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6
        with:
           fetch-depth: 10

      - name: "Install PHP ${{ matrix.php-version }}"
        uses: shivammathur/setup-php@master
        with:
           php-version: "${{ matrix.php-version }}"
           coverage: xdebug

      - name: "Validate composer.json and composer.lock"
        run: composer validate --strict

      - name: "Setup Composer, install dependencies"
        uses: ramsey/composer-install@v3
        with:
          composer-options: "--prefer-dist --optimize-autoloader"
          require-lock-file: "false"
          dependency-versions: "highest"

      - name: "Run test suite"
        run: composer run-script phpunit

      - name: "Coverage check"
        run: composer run-script code-coverage

      - uses: sudo-bot/action-scrutinizer@latest
        with:
           cli-args: "--format=php-clover build/logs/clover.xml"
